* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn-checkout {
  /* width: 80%; */
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 auto;
  background-color: #F05123 !important;
  color: white;
  padding: 10px;
}

.card-payment {
  border: 1px solid #F05123 !important;
  border-radius: 10px;
}

.img-brand {
  width: 50%;
}

.img {
  width: 20%;
}

.qr {
  margin: 0 auto;
  width: 40%;
}

.banking {
  font-size: 18px;
}