* {
    margin: 0;
    padding: 0;
}

/* mobile */
@media (min-width: 0) and (max-width: 480px) {

    .header {
        box-shadow: -1px 1px 7px 1px #b1b1b1cf;
        border-bottom: 1px solid #b1b1b1cf;
        background-color: #fff !important;
        padding: 30px;
        overflow: hidden;
    }

    .menu-mobile {
        color: #707070;
        flex: 1 1;
        font-size: 3rem;
        margin-right: 32px;
        padding: 8px 0;
        float: none;
        display: block;
        text-align: left;
    }

    .bt-header {
        border-radius: 10px !important;
        background-color: #F05123 !important;
        color: white !important;
        width: 100px;
        height: 35px;
        border: 0px;
        font-size: 15px;
        bottom: 10%;
    }

    .icon-search {
        position: absolute;
        left: 20px;
        top: 30%;
        font-size: 25px !important;
    }

    .laptop {
        display: none;
    }

    .tablet {
        display: none;
        ;
    }

    li {
        list-style: none !important;
    }

    .sidebar-moblie {
        width: 250px;
        height: 300px;
        border: 1px solid;
        font-size: 20px;
    }

    .sidebar-moblie li p {
        margin-left: 20px;
        margin-top: 10px;
    }
}

/* tablet */
@media (min-width: 480px) and (max-width: 980px) {
    .header {
        box-shadow: -1px 1px 7px 1px #b1b1b1cf;
        border-bottom: 1px solid #b1b1b1cf;
        background-color: #fff !important;
        padding: 30px;
        overflow: hidden;
    }

    .menu-mobile {
        color: #707070;
        flex: 1 1;
        font-size: 3rem;
        margin-right: 32px;
        padding: 8px 0;
        float: none;
        display: block;
        text-align: left;
        padding-top: 10px;
    }

    .bt-header {
        border-radius: 10px !important;
        background-color: #F05123 !important;
        color: white !important;
        width: 150px;
        height: 35px;
        border: 0px;

    }

    .icon-log {
        padding-top: 10px;
    }

    .input-header {
        width: 400px;
        height: 35px;
        border-radius: 10px;
    }

    .icon-search {
        position: absolute;
        left: 25px;
        top: 35%;
        font-size: 25px !important;
    }

    ::placeholder {
        padding-left: 40px;
    }

    .input-form {
        padding-top: 10px;
    }

    .laptop {
        display: none;
    }

    .mobile {
        display: none;
        ;
    }

    li {
        list-style: none !important;
    }

    .sidebar-moblie {
        width: 400px;
        height: 300px;
        border: 1px solid;
        font-size: 20px;
    }

    .sidebar-moblie li p {
        margin-left: 20px;
        margin-top: 10px;
    }

    .fom-tablet {
        display: none !important;
        padding: 0 !important;
    }
}

/* laptop */
@media (min-width: 1024px) {
    .posi {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020
    }

    .header {
        box-shadow: -1px 1px 7px 1px #b1b1b1cf;
        border-bottom: 1px solid #b1b1b1cf;
        background-color: #fff !important;
        padding: 30px;
        overflow: hidden;
    }

    .logo-header {
        text-align: right;
    }

    .logo-header img {
        width: 40px;
    }

    .font-logo {
        font-size: 16px;
        font-weight: bold;
    }

    .input-header {
        width: 500px;
        height: 40px;
        border-radius: 10px;
    }

    .icon-search {
        position: absolute;
        left: 25px;
        top: 20%;
        font-size: 25px !important;
    }

    ::placeholder {
        padding-left: 40px;
    }

    .bt-header {
        border-radius: 10px !important;
        background-color: #F05123 !important;
        color: white !important;
        width: 150px;
        height: 35px;
        border: 0px;
    }

    .cart-icon {
        font-size: 30px;
        color: orange;
        bottom: 10px;
        left: 10px;
    }

    .header-log {
        float: right;
    }

    .mobile {
        display: none;
        ;
    }

    .tablet {
        display: none;
        ;
    }

    .sidebar-moblie {
        display: none;
    }
}