.bg-login {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    height: 109%;
    background-image: url("../../../Asset/bglogin.png") !important;
}
.form-text {
    font-weight: bold;
}
.form-login {
    margin-left: 433px !important;
}
.from{
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin-top: 30px;
}
.form-input {
    border-radius: 0 !important;
    background-color: #f7f7f7;
    outline: none !important;
    box-shadow: none !important;
    width: 100%;
}

.btn-button {
    color: #fff !important;
    font-weight: 600 !important;
    background-color: #9c4fc2 !important;
    border-radius: 5px !important;
    padding: 7px 200px;
    font-weight: bold;
}

.err {
    color: tomato;
}

.form-submit{
    margin: 0 auto !important;
    width: 500px;
}
