.bg-footer{
    background: #111;
}
.footer-logo{
    width: 25%;
}
.footer-font{
    color: #fff;
}
.footer-fontsize{
    font-size: 17px;
}
.footer-icon{
    font-size: 30px;
}
.text-about{
    padding: 10px;
}
.footer-font h4{
    color: #fff;
}
.footer-font h5{
    color: #fff;
}
.footer-font p{
    color: #fff;
}