.about-text{
    font-family: 'Times New Roman', Times, serif;
}
.font-about{
    font-family: 'Times New Roman', Times, serif;
}
.about-img{
    border-radius: 50% !important;
}
.img-team{
    overflow: hidden;
}